
   
.movie-card{
	width: 500px;
    height: 700px;
    padding: 10px;
    padding-bottom: 300px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    background: #fddada;
    border-radius: 10px;
    box-shadow: 5px 20px 30px #000;
    cursor: pointer;
}

.movie-title{
     font-weight: bold;
     color: rgb(12, 12, 12);
     font-size: 2.5em;
     padding-bottom: 30px;
     justify-content: center;
}

.movie-image{
    height: 500px;
    width: 500px;
    text-align: center;
}

.card-button{
    color:rgb(173, 46, 14);
    font-size: 1.5em;
}