.movie-card-container{
    padding-bottom: 20px;
}  

.movie-card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 20px;
}

.movie-title{
    width: 100%;
    object-fit: cover;
    text-align: center;
}

.movie-image{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-button{
    background-color: #fddada;
    color:rgb(224, 58, 16);
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 20px;
}