.movie-card-container {
    align-items: stretch;
}

.movie-card-card-body {
    // min-height: 200px;
    align-items: stretch;
    padding-bottom: 20px;
}

.movie-card-card-group {
    text-align: center;
    padding-bottom: 30px;
    height: 75%;
}

.movie-card-img {
    width: 200px;
}