

.register-title{
    color:black;
}

.register-card{
    display: flex;
    background-color: #fddada;
    justify-content: center;
}

.register-card-label{
    color: black;
}

.register-button{
    background-color: rgb(175, 46, 7);
    margin-top: 20px;
}