

.register-title{
    color:black;
}

.register-card{
    background-color: #fddada;
}

.register-card-label{
    color: black;
}

// .register-last-form{
//     padding-bottom: 20px;
// }

.register-button{
    background-color: rgb(175, 46, 7);
    margin-top: 20px;
}