.profile-fav-row {
}

.profile-fav-col {
}

.profile-fav-col2 {
    padding-bottom: 30px;
}

.profile-fav-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px;

}

.profile-fav-img {
    width: 250px;
    height: 75%;
    width: 80%;
    padding: 30px;

}

.profile-fav-card-body {
}

.profile-fav-card-title {
}

.remove-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(122, 43, 43);
    border: none;
    
}

.remove-buttons:hover {
    background-color: rgb(230, 169, 119);
    color: black;
}

.back-button {
    background-color: rgb(122, 43, 43);
    border: none;
}

.back-button:hover {
    background-color: rgb(230, 169, 119);
    color: black;
}