.movie-view-container.container{
    width: 50rem;
}

.movie-view-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ec8181;
    width: auto;
}

.movie-view-card-body.card-body{
    display: flex;
    width: 50rem;
}

.movie-view.card{
    width: 50rem;
}
.movie-view-title-col{
    display: flex;
    justify-content: center;
}

.movie-view-title-card-body{
    background-color: #ec8181;
}
.movie-view-image{
    padding-top: 20px;
    padding-bottom: 20px;
}

.movie-view-button.btn{
    display: flex;
    background-color: #a54242;
    margin-top: 20px;
    justify-content: center;
}

.director-button{
    display: flex;
    padding-top: 70px;
    color: #ffffff;
    padding-top: -40px;
}

.genre-button{
    display: flex;
    padding-top: 70px;
    color: #ffffff;
    padding-top: -40px;
}

.director-genre-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-fav-buttons{
    display: flex;
    justify-content: center;
}