.login-container {
    justify-content: center;
    padding: 100px;
    width: 100%;
}

.login-card-title {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.login-form {

    justify-content: space-between;
}

// .login-buttons-below {
//     display: flex;
//     justify-content: space-between;
// }

.login-register-now {
    background-color: #ff5226;
    border: none;
    padding: 10px;
    margin: 20px;
}

.login-register-now:hover {
    background-color: #92d7ff;
    color: black;
    border: none;
}

.login-submit-button {
    background-color: #fa8365;
    border: none;
}

.login-submit-button:hover {
    background-color: rgba(255, 193, 22, 0.76);
    color: black;
    border: none;
}

.login-buttons-below {

}

.login-div-submit-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
}
