.login-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-col {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-card-group {
    display: flex;
    justify-content: center;
    text-align: center; 
}

.card-group {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
}
.login-card{
    display: flex;
    background-color: #fcf0e3;
    padding-top: 50px;
    justify-content: center;
    text-align: center;

}
.login-card-body {
    justify-content: center;
    text-align: center;
}

.login-button{
    background-color: rgb(175, 46, 7);
    margin-top: 20px;
}