.navbar-container{
    display: flex;
    height: 4em;
    line-height: 4em;
    width: 100%;
    flex-grow: 1;
    background-color: #fddada;
    margin-top: -50px;
    margin-left: -20px;
    margin-right: -50px;
    margin-bottom: 20px;
}
