.navbar{
    background-color: #ffd3aa;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;;
  }

  .navbar-main{
    display: flex;
    justify-content: left;
  }

.navbar-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}