.navbar{
    background-color: #f5b6b6;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;;
  }

  .navbar-main{
    display: flex;
    justify-content: center;
  }

  .navbar-title{
  
  }

.navbar-container{
    display: flex;
    justify-content:left;
}