
.director-title{
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.director-card-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: auto;
  background-color: rgb(243, 130, 130);
  color: white;
}

